@use 'fonts';
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// ================== ОСНОВА  (ЭТО БАЗА, BASED) ================== \\
body {
  background: #fff;
  font-family: Roboto;

}

.wrapper {
  width: 621px;
  padding: 14px 9px 13px 12px;
  margin: 200px auto 0 auto;
}

.wrapper__inner {
  height: 100%;
  width: 100%;
  // border: 1px solid black;
}

// ================== INPUT ================== \\

.search {
  width: 100%;
  position: relative;
  text-align: center;
}

.search::before {
  content: '';
  display: block;
  width: 21.86px;
  height: 21.86px;
  background: url("../img/serch.svg");
  position: absolute;
  top: 14.7px;
  right: 21.3px;
}

.search input {
  width: 100%;
  text-align: left;
  outline: none;
  color: black;
  font-size: 18px;
  padding: 11px 13px;
  border: 1px solid black;
}

.search input::placeholder {
  color: #696969;
}

// ================== ПОЛЕ С ТРЕМЯ БАРАМИ ================== \\
.information-wrapper {
  display: flex;
}

.info-block {
  position: relative;
  border: 1px solid black;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 404px;
  flex-basis: 50%;
}

// ================== 1/3 ================== \\

.temp {
  font-size: 70px;
  line-height: 82px;
  margin-top: 20px;
  margin-left: 23px;
  margin-bottom: 40px;
}

.cloud {
  //  background: url("../img/cloud.svg");
  width: 78px;
  height: 59px;
  margin: 0 auto;
  margin-bottom: 98px;
}

.city_name {
  font-size: 24px;
  margin-left: 12px;
}

.heart-input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.favourite {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 26px;
  top: 300px;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  color: black;

}

.heart-input:checked ~ .now .favourite div {
  color: #ff3e3e;
}


// ==================  2/3 ================== \\


.details {
  font-size: 24px;
  height: 100%;
}

.details__city-name {
  margin-left: 17px;
  margin-bottom: 42px;
  margin-top: 33px;
}

.details-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 15px;
}

// ====================  3/3 ======================= \\

.forecast {
  height: 90%;
}

.forecast h2 {
  font-size: 24px;
  margin-top: 33px;
  margin-left: 18px;
  margin-bottom: 20px;
}

.box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
  height: 80%;
  padding-bottom: 20px;
}

.box__item {
  border: 1px solid black;
  font-size: 18px;
  margin-left: 18px;
  margin-right: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.time .date {
  font-size: 18px;
}

.time .clock {
  font-size: 18px;
}

.temp-and-image {
  display: flex;
  font-size: 18px;
  gap: 30px
}

.forecast-temperature {
  flex-basis: 50%;
  margin-top: 10px;

  h3 {
    font-size: 18px;
    margin: 0;
    white-space: nowrap;
  }
}

.weather-img {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.weather-img h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.mini-cloud {
  height: 31px;
  width: 62px;
  margin: 0;
}

// ================== НАСТРОЙКА ТАБОВ ================== \\

.tab {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.tab-block {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.tab-item {
  background: white;
  flex-basis: 33.33%;
  text-align: center;
  font-size: 18px;
  padding: 12px 0px;
  border: 1px solid black;
  border-bottom: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}

.tab-item:first-child {
  border-right: 1px solid black;
}

.tab-item:last-child {
  border-left: 1px solid black;
}

.now,
.details,
.forecast {
  display: none;
}

.tab-1:checked ~ .now,
.tab-2:checked ~ .details,
.tab-3:checked ~ .forecast {
  display: block;
}

.tab-1:checked ~ .tab-block .tab-item-1,
.tab-2:checked ~ .tab-block .tab-item-2,
.tab-3:checked ~ .tab-block .tab-item-3 {
  background: black;
  color: white;
}

// =============================== ПОЛЕ, КОТОРОЕ НЕ МЕНЯЕТСЯ  =================================== \\

.added {
  width: 100%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  flex-basis: 50%;
  font-size: 24px;
}

.added-loc {
  font-size: 24px;
  margin-bottom: 42px;
  margin-left: 18px;
  margin-top: 33px;
}

.added-loc:after {
  content: "";
  display: block;
  width: 107%;
  height: 1px;
  background: black;
  position: relative;
  left: -6.8%;
  top: 7px;
}

.cities {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 24px;
  margin-left: 18px;
  padding-bottom: 18px;
  height: 298px;
  overflow: auto;
}

.cities h3 {
  font-size: 24px;
  cursor: pointer;
  width: fit-content;
  padding: 5px;
  transition-duration: 0.5s;
  border-radius: 3px;
}

.cities h3:hover {
  // background: rgba(243, 243, 189, 0.51);
  background: black;
  color: white;
  border-radius: 3px;
}

.cities h3:active {
  background: rgba(0, 0, 0, 0.87);
}

